<ion-header>
  <ion-toolbar>
    <ion-title>Evaluaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de Ejemplos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-spinner *ngIf="isLoadingExamples" class="ion-padding"></ion-spinner>

    <ion-list *ngIf="!isLoadingExamples && examplePlaces.length > 0">
      <ion-item *ngFor="let place of examplePlaces">
        <ion-thumbnail slot="start" *ngIf="place.photo">
          <img [src]="place.photo" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ place.name }}</h2>
          <p>{{ place.comment }}</p>
          <small>Lat: {{ place.latitude }}, Lng: {{ place.longitude }}</small>
        </ion-label>
      </ion-item>
    </ion-list>

    <p *ngIf="!isLoadingExamples && examplePlaces.length === 0" class="ion-padding">
      No hay datos de ejemplo disponibles.
    </p>
  </ion-card>

  <!-- Lista de Firebase -->
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-spinner *ngIf="isLoadingDatabase" class="ion-padding"></ion-spinner>

    <ion-list *ngIf="!isLoadingDatabase && databasePlaces.length > 0">
      <ion-item *ngFor="let place of databasePlaces">
        <ion-thumbnail slot="start" *ngIf="place.photo">
          <img [src]="place.photo" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ place.name }}</h2>
          <p>{{ place.comment }}</p>
          <small>Lat: {{ place.latitude }}, Lng: {{ place.longitude }}</small>
        </ion-label>
      </ion-item>
    </ion-list>

    <p *ngIf="!isLoadingDatabase && databasePlaces.length === 0" class="ion-padding">
      No hay datos disponibles desde Firebase.
    </p>
  </ion-card>
</ion-content>
